.booking {
    color: black;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking > h1 {
    margin-top: 1rem;
    font-size: 6vh;
}

.bookingForm > div:first-child {
    min-height: 50vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bookingForm > button {
    margin: 1rem 0;
}

.bookingField {
    min-width: 240px;
    max-width: 700px;
    width: 40vw;
    margin: 0.5rem;
    min-height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingField > div {
    width: 100%;
}

.submitButton {
    background-color: var(--buttonBG) !important;
    color: white!important;
    border-radius: 10px!important;
}

@media (max-width: 527px) {
    .bookingField {
        width: 80vw;
    }
}