.contacts {
    color: var(--secondText);
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.contacts a {
    color: var(--secondText)
}

.contacts a:hover {
    color: var(--buttonBG)
}

.contacts > .background {
    position: absolute;
    top: -5px;
    width: 105%;
    height: 105%;
    z-index: -1;
    background: url("../../img/gallery/small/image18.jpeg") no-repeat;
    background-size: cover;
    filter: brightness(0.5) blur(3px);
}

.label {
    margin: 3rem 1rem 0 1rem;
}

.label > h1 {
    font-size: 1.7rem;
}

.contactInfo {
    margin: 3vh 1rem 0 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contactInfo > div {
    margin: 0 0.5rem;
}

.contactInfo > div > div {
    margin: 3vh 0;
}

.contactInfo h3 {
    font-size: 2rem;
}

.contactInfo a {
    font-size: 1.5rem;
}

.contacts > p {
    font-size: 0.7em;
    margin: 0.5rem 0;
}

@media (max-width: 375px) {
    .label > h1 {
        font-size: 3vh;
    }
}

@media (min-width: 648px) {
    .label > h1,
    .contactInfo h3 {
        font-size: 2.5rem;
    }

    .contactInfo a {
        font-size: 2rem;
    }

    .contacts > p {
        font-size: 1em;
    }
}

@media (min-width: 800px) {
    .contactInfo > div {
        margin: 2rem 1rem;
    }
}