.priceList {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.dialogPar {
    font-size: 1.25rem;
}

.dialogPar:first-child {
    padding-right: 1rem;
}