/*-----1-----*/
.mainPhoto {
    /*height: calc(100vh - 5rem);*/
    /*height: calc(calc(var(--vh) * 100) - 5rem);*/
    height: calc(var(--mainPhotoVH) - 5rem);
    /*background-image: url("../../img/main-min.jpeg");*/
    /*background-size: cover;*/
}

.mainPhoto img {
    filter: brightness(40%);
    max-height: var(--mainPhotoVH);
    object-fit: cover;
}

.photoContainer {
    position: relative;
    /*max-height: 95vh;*/
    max-height: calc(var(--vh) * 95);
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoContainer > h1 {
    position: absolute;
    top: 6vw;
    margin: 0;
    font-size: 2.2em;
}

.photoContainer > div:not(#learnMore):not(.takeAwayButton) {
    position: absolute;
    top: 6vw;
    margin: 0;
    /*font-size: 6vh;*/
    font-size: calc(var(--vh) * 6);
}

.photoContainer > #learnMore {
    position: absolute;
    bottom: 5vw;
}

.takeAwayButton {
    position: absolute;
    bottom: 20px;
}

@media (min-width: 855px) {
    .mainPhoto img {
        width: 100%;
    }
}

@media (max-width: 1025px) {
    .photoContainer > h1 {
        font-size: 1.8em;
        padding: 0 0.5rem;
    }
}

@media (max-width: 320px) {
    .photoContainer > h1 {
        font-size: 1.35em;
    }
}

/*-----2-----*/
.mainInfo {
    /*min-height: 100vh;*/
    min-height: calc(var(--vh) * 100);
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.infoBlock {
    width: 40vw;
    max-width: 700px;
    min-width: 300px;
    padding: 1.5rem 1rem;
}

.infoBlock h2 {
    font-size: calc(var(--vh) * 5);
    /*font-size: 5vh;*/
}

.infoBlock h1 {
    font-size: calc(var(--vh) * 8);
    /*font-size: 8vh;*/
}

.infoBlock p {
    font-size: calc(var(--vh) * 3);
    /*font-size: 3vh;*/
}

@media (max-width: 1025px) {
    .infoBlock h2 {
        font-size: 1.3em;
    }

    .infoBlock h1 {
        font-size: 2em;
    }

    .infoBlock p {
        font-size: 0.7em;
    }
}

@media (max-width: 335px) {
    .infoBlock {
        min-width: 240px;
    }
}

/*-----3-----*/
.takeAwayService {
    /*margin: 5vh 0;*/
    margin: calc(var(--vh) * 5) 0;
}

.takeAwayService .takeAway {
    width: 90vw;
    margin: 0 auto;
}

.takeAway img {
    filter: brightness(40%);
    width: 100%;
}

.takeAway p {
    /*font-size: 2.5vh;*/
    font-size: calc(var(--vh) * 2.5);
    margin: 1rem;
}

.takeAway h1 {
    /*font-size: 4vh;*/
    font-size: calc(var(--vh) * 4);
    margin: 1rem;
}

@media (max-width: 850px) and (max-height: 600px) {
    .takeAway p {
        font-size: 0.7em;
    }

    .takeAway h1 {
        font-size: 1.1em;
    }
}

@media (max-width: 600px) {
    .takeAway h1 {
        font-size: 1.5rem;
    }

    .takeAway p {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    .takeAway h1 {
        font-size: 1.4rem;
    }

    .takeAway p {
        font-size: 0.7rem;
    }
}

/*-----4-----*/
.gallery {
    margin: 2rem 0;
}

.gallery .images {
    width: 90vw;
    margin: 0 auto;
    max-height: 800px;
    overflow: hidden;
}

.images > div {
    width: 100%;
}

.images img {
    width: 100%;
    max-width: 1000px;
}

/*-----5-----*/
.reviews {
    color: black;
    /*min-height: 100vh;*/
    min-height: calc(var(--vh) * 100);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.reviewBlock {
    width: 40vw;
    max-width: 700px;
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.reviewBlock > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.reviewBlock > p {
    text-align: start;
    margin: 1rem 0;
}

.reviewBlock .personInfo {
    margin: 0 1rem;
}

.personInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.personInfo h2 {
    font-size: 1.25em;
}

.avatar {
    height: calc(var(--vh) * 10)!important;
    /*height: 10vh!important;*/
    width: calc(var(--vh) * 10)!important;
    /*width: 10vh!important;*/
}

@media (max-width: 1025px) {
    .reviewBlock {
        width: 85vw;
        display: block;
    }
}

/*-----6-----*/
.info {
    color: black;
    padding: 1em 1rem;
}

.info > div {
    margin-top: 2rem;
}

.info p {
    margin: 1rem;
}

.info h2 {
    font-size: calc(var(--vh) * 4);
    /*font-size: 5vh;*/
}

.info h1 {
    font-size: calc(var(--vh) * 5);
    /*font-size: 8vh;*/
}

.info p {
    font-size: calc(var(--vh) * 4);
    /*font-size: 3vh;*/
}

@media (max-width: 1025px) {
    .info h2 {
        font-size: 0.7em;
    }

    .info h1 {
        font-size: 1em;
    }

    .info p {
        font-size: 0.7em;
    }
}

@media (max-width: 335px) {
    .info {
        min-width: 240px;
    }
}