/*-----1-----*/
.mainPhoto {
    position: relative;
    max-height: 90vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainPhoto > img {
    min-width: 100%;
    max-height: 90vh;
}

.mainPhoto > h1 {
    position: absolute;
    top: 10vh;
    margin: 0;
    font-size: 6vh;
}

.mainPhoto > .myButton {
    position: absolute;
    bottom: 5vw;
}

/*-----2-----*/
.mainInfo {
    min-height: 100vh;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.infoBlock {
    width: 40vw;
    min-width: 280px;
    margin: 1.5rem 1rem;
}

.infoBlock h2 {
    font-size: 5vh;
}

.infoBlock h1 {
    font-size: 8vh;
}

.infoBlock p {
    font-size: 3vh;
}

