/*-----1-----*/
.mainPhoto {
    height: 90vh;
}

.photoContainer {
    position: relative;
    max-height: 90vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainPhoto img {
    filter: brightness(90%);
    max-height: 100%;
    min-width: 100%;
}

.photoContainer > h1 {
    position: absolute;
    top: 6vw;
    margin: 0;
    font-size: 6vh;
}

.photoContainer > div {
    position: absolute;
    top: 6vh;
    margin: 0;
    font-size: 3vh;
}

.photoContainer > .myButton {
    position: absolute;
    bottom: 5vw;
}

/*-----2-----*/
.mainInfo {
    min-height: 100vh;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.infoBlock {
    width: 40vw;
    max-width: 700px;
    padding: 1.5rem 1rem;
}

.infoBlock h2 {
    font-size: 5vh;
}

.infoBlock h1 {
    font-size: 8vh;
}

.infoBlock p {
    font-size: 3vh;
}

@media (max-width: 1025px) {
    .infoBlock {
        width: 100%;
    }
}

/*-----3-----*/
.takeAwayService {
    margin: 5vh 0;
}

.takeAwayService .takeAway {
    width: 90vw;
    margin: 0 auto;
}

.takeAway img {
    filter: brightness(40%);
    width: 100%;
}

.takeAway p {
    font-size: 2vh;
}

.takeAway h1 {
    font-size: 4.5vh;
    margin-bottom: 1rem;
}

/*-----4-----*/
.gallery {
    margin: 5vh 0;
}

.gallery .images {
    width: 90vw;
    margin: 0 auto;
}

.images > div {
    width: 100%;
}

.images img {
    width: 90vw;
    max-height: 80vh;
}