/*-----1-----*/
.mainPhoto {
    position: relative;
    max-height: 90vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainPhoto > img {
    min-width: 100%;
    max-height: 90vh;
}

.mainPhoto > h1 {
    position: absolute;
    top: 10vh;
    margin: 0;
    font-size: 6vh;
}

.mainPhoto > .myButton {
    position: absolute;
    bottom: 5vw;
}

/*-----2-----*/
.mainInfo {
    min-height: 100vh;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.infoBlock {
    width: 40vw;
    max-width: 700px;
    padding: 1.5rem 1rem;
}

.infoBlock h2 {
    font-size: 5vh;
}

.infoBlock h1 {
    font-size: 8vh;
}

.infoBlock p {
    font-size: 3vh;
}

@media (max-width: 1025px) {
    .infoBlock {
        width: 100%;
    }
}

/*-----3-----*/
.takeAwayService {
    margin: 5vh 0;
}

.photoContainer > img,
.photoContent {
    width: 90vw;
    margin: 2vh auto;

    color: black;
}

.photoContent .label {
    font-size: 4vh;
    margin: 2vh 0;

}
.photoContent p {
    font-size: 2.5vh;
    margin: 2vh 0;
}

/*-----4-----*/
.gallery {
    margin: 5vh 0;
}

.gallery .images {
    width: 90vw;
    margin: 0 auto;
}

.images > div {
    width: 100%;
}

.images img {
    width: 90vw;
    max-height: 80vh;
}