html {
    height: 100%;
}

body {
  margin: 0;

  font-size: 25px;

  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

.MuiButton-label {
  font-family: 'Jost', sans-serif;
}

:root {
    --secondBG: #3C3C3C;
    --buttonBG: #F82323;
    --buttonHoverBG: #CE3B3B;
    --mainText: #000;
    --secondText: #fff;
}