html {
    height: 100%;
}

body {
    margin: 0;
    color: white;

    text-align: center;

    font-size: 25px;

    font-family: 'Jost', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

hr {
    background-color: var(--buttonBG)!important;
    height: 2px!important;
}

.MuiButton-label {
    font-family: 'Jost', sans-serif;
}

:root {
    --secondBG: #3C3C3C;
    --buttonBG: #F82323;
    --buttonHoverBG: #CE3B3B;
    --mainText: #000;
    --secondText: #fff;
}