html {
    height: 100%;
}

body {
    margin: 0;
    color: white;

    text-align: center;

    font-size: 25px;

    font-family: 'Jost', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--buttonBG);
}

hr {
    background-color: var(--buttonBG)!important;
    height: 2px!important;
}

.padding {
    padding: 0 0.5rem;
}

.MuiButton-label {
    font-family: 'Jost', sans-serif;
}

.MuiPaginationItem-textPrimary.Mui-selected {
    background-color: var(--secondBG) !important;
}

.MuiPaginationItem-textPrimary.Mui-selected:hover,
.MuiPaginationItem-textPrimary.Mui-selected:active,
.MuiPaginationItem-textPrimary.Mui-selected:focus,
.MuiPaginationItem-textPrimary.Mui-selected.Mui-focusVisible {
    background-color: var(--buttonBG)!important;
}

.MuiPagination-root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.MuiSelect-root {
    text-align: start;
}

.MuiListItem-button > span {
    font-size: 90%;
}

.MuiIconButton-root {
    padding: 0 12px!important;
}

.MuiTypography-h6 {
    font-weight: bold!important;
    font-size: 1.5rem!important;
}

:root {
    --secondBG: #3C3C3C;
    --buttonBG: #F82323;
    --buttonHoverBG: #CE3B3B;
    --mainText: #000;
    --secondText: #fff;
}